HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# REST Client / Admin Credentials
BASE_URL=http://localhost:8083
ADMIN_EMAIL=your_email@example.com
ADMIN_PASSWORD=your_password
